/*-- scss:rules --*/

.blackbox {
  color: #F51111;
  background-color: transparent;
  margin: 2px;
  padding: 5px 2px 5px 2px;
  height: 110px;
  border: 2px solid;
}

.code_1 {
height: 220px;
width: 1000px;
}